<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Arequi-commerce</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
</head>
<body class="bg-warning-subtle" >

    <header class="p-3 mb-3 border-bottom border-2 border-black fixed-top bg-warning">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="me-4"><a href="#" th:href="@{/}"><button type="button" class="btn btn-outline-dark border-2">Inicio</button></a></li>
                    <li class="me-4"><a href="#" th:href="@{/buyProducts}"><button type="button" class="btn btn-outline-dark border-2">Comprar productos</button></a></li>
                    <li th:if="${session.user != null}" class="me-4"><a href="#" th:href="@{/sellProduct}"><button type="button" class="btn btn-outline-dark border-2">Vender productos</button></a></li>
                </ul>
                <h2 class="position-absolute top-50 start-50 translate-middle">Bienvenido a Arequi-commerce</h2>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-4" role="search" th:action="@{/buyProducts}" method="get">
                    <input type="search" name="keyword" th:value="${keyword}" class="form-control border-2 border-black bg-warning-subtle" placeholder="Búsqueda..." aria-label="Search">
                </form>
                <div th:unless="${session.user != null}" class="text-end">
                    <a th:href="@{/login}" ><button type="button" class="btn btn-outline-dark border-2 me-3">Ingresar</button></a>
                    <a th:href="@{/register}"><button type="button" class="btn btn-outline-dark border-2">Registrarse</button></a>
                </div>
                <div th:if="${session.user != null}" class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://w7.pngwing.com/pngs/741/68/png-transparent-user-computer-icons-user-miscellaneous-cdr-rectangle-thumbnail.png" alt="mdo" width="32" height="32" class="rounded-circle border border-2 border-black">
                    </a>
                    <ul class="dropdown-menu text-small mt-2">
                        <li><a class="dropdown-item" href="#">Ver Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" th:href="@{/logout}">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main style="margin-top: 4%;">
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-md-10 mx-auto col-lg-5 position-absolute top-50 start-50 translate-middle">
                    <form class="p-4 p-md-5 border rounded-3 bg-warning bg-opacity-50 border-black border-2"
                        action="#" th:action="@{/loginUser}" th:object="${user}" method="post">
                        <h2 class="text-center mb-4" style="margin-top: -5%;">INGRESA</h2>
                        <div class="form-floating mb-3">
                            <input th:field="*{email}" type="email" class="form-control border-black" id="floatingInput" placeholder="Correo electrónico" required>
                            <label for="floatingInput">Correo electrónico</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{password}" type="password" class="form-control border-black" id="floatingPassword" placeholder="Contraseña" required>
                            <label for="floatingPassword">Contraseña</label>
                        </div>
                        <button class="w-100 btn btn-lg btn-warning border-black" type="submit">Ingresar</button>
                        <hr class="my-4">
                        <div class="text-center">
                            <small class="text-body-secondary">¿No tienes cuenta? </small><a class="link-offset-2 link-underline link-underline-opacity-0 text-black" href="#" th:href="@{/register}">Registrate</a>
                        </div>
                    </form>

                    <div th:if="${error}" class="py-2 rounded mt-1 border border-2 border-black bg-warning text-center" role="alert">
                        <strong><span class="error-message" th:text="${error}"></span></strong>
                    </div>

                </div>
            </div>
        </div>
    </main>

</body>
</html>